body {
  text-align: center;
  margin:auto;
  width: 100%;
  padding: 50px;
  font-family: 'Poppins', sans-serif;
}
.jumbotron {
  background-image: linear-gradient(#FF7722, #fdcd3b);
  color: #fff;
  text-align: center;
  margin: 0px;
  background-color: #fff;
}
h1 {
  color: #fff;
}
h2 {
  background-color: #fff;
}
p {
  width: 400px; 
  margin: auto;
  padding: 20px;
  border-style: solid;
  border-radius: 20px;
}
